### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode
.vscode/

# Streamlit
.streamlit
.streamlit/

# Environments
.env
.venv
.env/
.venv/
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Celery stuff
celerybeat-schedule
celerybeat.pid
